* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.tabuleiro {
  display: inline-block;
  margin: 20px auto;
}

.board-row {
  display: flex;
}

.quadrado {
  width: 60px;
  height: 60px;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrado.destaque {
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.status {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.jogo-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao-reiniciar {
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: aquamarine;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

.botao-reiniciar:hover {
  background-color: #76eec6;
}

.mensagem-final {
  font-size: 18px;
  margin-top: 15px;
  color: #e91e63;
  font-weight: bold;
  text-align: center;
}